<h1>Lista de Funcionários</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Data de Contratação</th>
      <th scope="col">Situação</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each employees}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><a href="/employees/{{this.id}}">{{this.nome}}</a></td>
      <td>{{this.dataContratacao}}</td>
      <td>{{#if this.dataDemissao}}Inativo{{else}}Ativo{{/if}}</td>
      <td><a class="btn btn-primary" href="/employees/{{this.id}}/edit">Atualizar</a>
      <form action="/employees/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-danger" type="submit" onclick="return confirm('Tem certeza que deseja apagar o registro?')">Excluir</button>
      </form></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a class="btn btn-success" href="/employees/create">Novo Funcionário</a>