<div class="card mt-3">
  <h5 class="card-header">Detalhes do Projeto {{ project.nome }}</h5>
  <div class="card-body">
    <p><strong>ID: </strong>{{ project.id }}</p>
    <p><strong>Nome: </strong>{{ project.nome }}</p>
    <p><strong>Cliente: </strong>{{ project.client.nome }}</p>
  </div>
</div>
<div class="card mt-3">
  <h5 class="card-header">Funcionários que trabalham no Projeto</h5>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
        {{#if project.employee}}
        {{#each project.employee }}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td>{{this.nome}}</td>
        </tr>
        {{/each}}
        {{^}}
        <tr>
          Não há funcionários alocados para este projeto.
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
<a class="btn btn-success mt-3" href="/projects">Voltar para a lista</a>